@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Patrick+Hand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #0c6fba85;  
  --secondary-color: #E6E6E6;  
  --tertiary-color: #BDE3FF;   
}

body {
  background-color: var(--secondary-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
    color: var(--secondary-color);
}

.main-wrapper {
  width: 100%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-image: url('./assets/lilartsy-U7VJK_tqpKY-unsplash.jpg');
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.main {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  height: 60%;
  margin: auto;
  position: relative;
  bottom: -20%;
  z-index: 10;
  border-radius: 16px;
}

.main.secrets {
  background-color: transparent;
  height: 70%;
  bottom: -8%;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.692);
  color: black;
  width: 100%;
  margin: auto;
  border-radius: 0;
  padding-bottom: 20px;
}

.secret-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  border-radius: 20px;
}

.secret-wrapper h2 {
  font-size: 32px;
}

.secret-form {
  background-color: rgba(255, 251, 247, 0.692);
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  gap: 8px;
}

.secret-posts {
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 230px;
  background-color: #0c6fba66;
}

.secret-posts.loading {
  background-color: rgba(255, 251, 247, 0.692);
  padding: 0 20px;
}

.post {
  background-color: #bde3ff;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 10px 10px 20px 10px;
  font-family: 'Handlee', cursive;
  font-size: 18px;
  color: black;
  width: 45%;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.nav-link {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.logo {
  font-size: 40px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

  .empty-container {
    overflow: hidden;
    position: relative;
    top: 10px;
  }

  .symbol {
    color: #ffffff;
  }

@media (min-width: 1025px) {
  .main {
    width: 60%;
  }

  .main-wrapper {
    width: 80%;    margin: auto;
  }

  .post {
    font-size: 25px;
  }

  .secret-posts {
    height: 320px;
  }

  .main.secrets {
    bottom: -11%;
  }

  .empty-container {
    width: 100vw;
    height: 100vh;
  }
}
